.custom-tooltip {
    text-align: left; /* Left-align the text */
    white-space: pre-wrap; /* Preserve line breaks and wrapping */
    max-width: 800px !important; /* Set a max width for readability */
    word-wrap: break-word; /* Ensure long words wrap */
    padding: 5px; /* Add some padding for a clean layout */
    font-size: 14px; /* Adjust font size for better readability */
    background-color: #f9f9f9; /* Light background for better visibility */
    border: 1px solid #ccc; /* Add a subtle border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    z-index: 1050; /* Ensure it appears above other content */
}


.custom-tooltip .tooltip-inner {
    text-align: left; /* Left-align the text */
    max-width: 800px !important; /* Set a max width for readability */
    max-height: 400px !important; /* Set a max width for readability */
    overflow-y: auto; /* Enable vertical scrolling when content exceeds max-height */
    word-wrap: break-word; /* Ensure long words wrap */
    padding: 1px; /* Add some padding for a clean layout */
    font-size: 14px; /* Adjust font size for better readability */
    background-color: #f9f9f9; /* Light background for better visibility */
    border: 1px solid #ccc; /* Add a subtle border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    z-index: 1050; /* Ensure it appears above other content */
}