.medications-summary {
  white-space: pre-wrap; /* Preserve line breaks and wrap long text */
  word-wrap: break-word; /* Prevent words from overflowing */
  max-height: 200px; /* Set a maximum height for vertical scrolling */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds maxHeight */
}

.inactive-medication {
  color: lightgray; /* Light gray text color */
  font-style: italic; /* Italicized text */
  font-size: smaller; /* Smaller font size */
}

.rolldown-icon {
  display: inline-block;
  margin-right: 8px;
  transition: transform 0.3s ease;
}

.rolldown-icon.expanded {
  transform: rotate(90deg);
}
